@import "../base/settings";

.entry__container {
	flex-direction: column;
	padding: $s-size 0;
}

.entry__image {
	height: 201px;
	width: 134px;
}

.entry__content {
	position: relative;
	text-align: center;
	color: $white;
	background-color: $dark-grey;
	height: 201px;
	width: 134px;
}

.entry__content__element {
    margin: 0;
	position: absolute;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
    
    &--image {
        width: 134px;
    }
}

.entry__container__text {
	white-space: nowrap;
	width: 134px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.entry-page__container {
	max-width: 600px;
	display: flex;
	flex: 1 1;
	text-align: center;
	align-items: center;
	flex-direction: column;
	padding: $s-size 0;
}

.entry-page__image {
	height: 320px;
	width: 240px;
}