@import "../base/settings";

.filters {
    width: 100%;
    padding: $s-size;
}

.filters__content {
    width: 100%;
	align-items: center;
	justify-content: space-around;
	display: flex;
	flex-direction: row;
	padding: $m-size $l-size 0 $l-size;
}

.lens {
    display: block;
    height: 21px;
    width: 21px;
}

@media (max-width: 990px) {
    .filters__content {
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}