@import "../base/settings";

.header {
	width: 100%;
	background: $blue;
}

.header__content {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0 $xl-size;

	&-right {
		@extend .header__content;
	}
}

.header__title {
	line-height: 1;
	font-size: $font-size-xlarge;
	font-weight: bold;
	color: white;
	margin: 0;
}

@media (max-width: 600px) {
	.header__content {
		padding: 0;
		&-right {
			align-content: center;
			display: flex;
			flex-flow: column;
		}
	}

	.grid {
		margin: 0;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
